@import 'setup';
@import 'vars';
/* +++++++++++++++++++++++++
GLOBAL STYLES and TYPOGRAPHY
++++++++++++++++++++++++++*/
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
@import 'global';

/* ================================
CSS STYLING STARTS HERE
================================ */
@import 'nav';
@import 'button';

/* ============================================================
INDEX PAGE STARTS HERE
============================================================ */


/* +++++++++++++++++++++++++
HEADER STYLES
++++++++++++++++++++++++++*/
.hero-img{
    position: relative;
	background-image: url(.././assets/home-image-1.jpg);
	width: 100%;
	height: 95vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
    z-index: -1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header-box {
        position: absolute;
        right: 0;
        bottom: -100px;
        max-width: 40%;
        z-index: -1;
    }
    
}


// /* H1 STYLE */


h1 {
    text-align: left;
    font-weight: 500;
    line-height: 0.8;
    z-index: 1;
    max-width: 100%;
    color: $whiteColor;
}

h1 span {
    display: block;
    color: $accentColor;
}


/*+++++++++++++++++++++++
ABOUT STYLES 
+++++++++++++++++++++++*/

.about-section{
    background-color: $whiteColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
        .about-wrapper {
            max-width: 70%;
            padding: 150px 0;
    }
}


.about-section h2 {
    text-align: center;
}

.about-section p {
    text-align: center;
    margin: 15px 0;
}

.about-section button {
    display: block;
    margin: 30px auto;
}

/*+++++++++++++++++++++++
ARTICLE SECTION STYLES 
+++++++++++++++++++++++*/

.info-section {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: inherit;
        button {
            margin: 20px 0;
        }
}

.unique-plants {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    .unique-img {
        max-width: 100%;
        height: 450px;
        img {
            box-shadow: 40px 40px 0 -10px $accentColor;
            top: -50px;
            position: relative;
            z-index: 1;
        }
    }
}




.unique-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    // padding: 70px 200px;
    padding: 5% 20%;
        p {
        text-align: right;
        padding: 3% 0;
    }
}

.workshops {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: 450px;
        .work-cont {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 5% 20%;
                p, 
                h4 {
                    text-align: left;
                    padding: 15px 0;
        }
    }
}



.work-img{
    max-width: 100%;
    height: 450px;
    display: flex;
    justify-content: flex-end;
        img {
        z-index: 1;
        height: auto;
        box-shadow: -40px 40px 0 -10px $accentColor;
    }
}


/*+++++++++++++++++++++++
SITE CONTENT STYLES 
+++++++++++++++++++++++*/

.site-content {
    background: $whiteColor;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 160px 100px 20px 100px;
}

.green-house,
.file-blog,
.community-content,
.in-touch {
    display: inline-block;
    max-width: 45%;
    margin: 15px;
}
.site-content i{
    background: $accentColor;
    border: 10px solid $accentColor;
    border-radius: 50%;
    font-size: 1.5rem;
    margin: 0 25px
}

.green-house p,
.file-blog p,
.community-content p,
.in-touch p {
    padding-left: 100px;
}

img-banner {
    display: flex;
}
.img-banner img {
    width: 100%;
    height: auto;
}

/*+++++++++++++++++++++++
FOUNDER SECTION STYLES 
+++++++++++++++++++++++*/
.founder-section {
    background: $whiteColor;
    padding: 2% 2%;
}

.founder-wrapper {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.founder-img {
    max-width: 40%;
    padding: 3%;
    height: 404px;
    margin: 5% 5%;
}

.founder-img img {
    max-width: 100%;
}

.yellow-box-3 {
    width: 304px;
    height: 304px;
    background: $accentColor;
    position: relative;
    bottom: 286px;
    left: 26px;
    z-index: -1;

}

.abt-founder {
max-width: 60%;
padding-right: 10%;
}

.abt-founder h3,
.abt-founder p {
    padding: 15px 0;

}
.abt-founder button {
    margin: 25px 0;
}

/*+++++++++++++++++++++++
GALLERY STYLES 
+++++++++++++++++++++++*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    margin: 6% 1%;  
}


/*+++++++++++++++++++++++
FOOTER STYLES 
+++++++++++++++++++++++*/

footer {
    background: $blackColor;
    p {
        color: $whiteColor;
        text-align: center;
        padding: 0.3% 0;
    }
}


/* ============================================================
BLOG PAGE STARTS HERE
============================================================ */

/*+++++++++++++++++++++++
HEADER STYLES 
+++++++++++++++++++++++*/

.blog-header {
    background-image: url(.././assets/blog-header-1.jpg);
    background-position: center;
    background-size: cover;
    padding: 30vh;
    height: auto;
}

/*+++++++++++++++++++++++
ABOUT BLOG STYLES 
+++++++++++++++++++++++*/

.blog {
    display: flex;
}
.blog-abt-section {
    display: flex;
    max-width: 30%;
}

.blog-abt-wrapper {
    display: flex;
    flex-direction: column;
}

.article-section {
    display: flex;
    flex-direction: column;
}
/* ============================================================
CONTACT PAGE STARTS HERE
============================================================ */


.contact-hero-img {
    border-top: 80px solid $navColor;
    background-image: url(../assets/contact-header-1.jpg);
    width: 100%;
	height: 75vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
    display: flex;
    align-items: flex-end;

    h2{
        color: $accentColor;
        position: relative;
        left: 10.5%;
        bottom:6%;
        max-width: 15%;
        font-size: 4.5rem;
    }
}

.contact-section{
    display: flex;
    flex-direction: row;
    background-color: $whiteColor;
    padding: 8% 9%;
}

.social {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
        i {
            padding-right: 18px;
            color: $buttonColor;
        }
}

.contact-info {
    line-height: 1.6rem;
}

.email {
    font-weight: bold;
    padding-bottom: 15px;
}

.contact-form-wrapper{
    position: absolute;
    bottom: -10%;
    right: 5%;
    display: flex;
    justify-content: flex-end;
    .contact-form {
        background-color: $baseWhite;
        padding: 50px 50px 0 50px;
        box-shadow: -40px 40px 0 -15px $accentColor;
        height: 65vh;
        display: flex;
        flex-direction: column;
        width: 60vw;
        ul {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0 0;
            li {
                display: flex;
            }
        }
    }
}


input[type=text] {
    border: none;
    border-bottom: 2px solid $buttonColor;
    color: #9b948b;
    padding: 0 0 20px 20px;
}

label {
    margin-right: 5px;
}


textarea {
    border: 2px solid $buttonColor;
    color: #9b948b;
    text-align: left;
    width: 100%;
    padding: 35px 20px;
    resize: none;
}


label[for="message"] {
	display: inline-block;
	width: 100%;
    margin: 30px 0;
}

input[type="submit"] {
	margin: 50px 0;
    max-width: 100%;
}




/* ============================================================
MEDIA QUERIES
============================================================ */
@media (max-width: 1350px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 720px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}